<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="simternship.simternship">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="simternship.simternship.StartScreen"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="simternship.simternship.MainActivity"></activity>
        <activity
            android:name="simternship.simternship.CareerFairScreen"
            android:label="@string/title_activity_career_fair_screen"></activity>
        <activity
            android:name="simternship.simternship.CareerFairBoothScreen"
            android:label="@string/title_activity_career_fair_booth_screen"></activity>
        <activity android:name="simternship.simternship.NewUser" />
        <activity
            android:name="simternship.simternship.EndScreen"
            android:label="@string/title_activity_end_screen"
            android:theme="@style/AppTheme" />
        <activity
            android:name="simternship.simternship.JobInterviewPreview"
            android:label="@string/title_activity_job_interview_preview"
            android:theme="@style/AppTheme" />
        <activity
            android:name="simternship.simternship.JobOfferPreview"
            android:label="@string/title_activity_job_offer_preview"
            android:theme="@style/AppTheme" />
        <activity
            android:name="simternship.simternship.JobInterviewView"
            android:label="@string/title_activity_job_interview_view"
            android:theme="@style/AppTheme" />
        <activity
            android:name="simternship.simternship.JobOfferView"
            android:label="@string/title_activity_job_offer_view"
            android:theme="@style/AppTheme" />
        <activity android:name="simternship.simternship.account_screen_view" />
        <activity android:name="simternship.simternship.leaderboard_screen" />
        <activity android:name="simternship.simternship.settings_screen" />
        <activity android:name="simternship.simternship.PrepQuestionScreen" />
        <activity
            android:name="simternship.simternship.NewGameView"
            android:label="@string/title_activity_new_game_view"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>