<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="csc309.simternship">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartScreen" />
        <activity
            android:name=".CareerFairScreen"
            android:label="@string/title_activity_career_fair_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewUser" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".EndScreen"
            android:label="@string/title_activity_end_screen"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".JobInterviewPreview"
            android:label="@string/title_activity_job_interview_preview"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".JobOfferPreview"
            android:label="@string/title_activity_job_offer_preview"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".JobInterviewView"
            android:label="@string/title_activity_job_interview_view"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".JobOfferView"
            android:label="@string/title_activity_job_offer_view"
            android:theme="@style/AppTheme" />
        <activity android:name=".account_screen_view" />
        <activity android:name=".leaderboard_screen" />
        <activity android:name=".settings_screen"></activity>
    </application>

</manifest>